<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Tabela</title>
</head>

<body>
	<table>
		<thead>
			<th>Nome</th>
			<th>Trabalho</th>
			<th>Twitter</th>
		</thead>
		<tbody>
			{{#users}}
			<tr>
				<td>{{fullName person}}</td>
				<td>{{jobTitle}}</td>
				<td><a href="https://twitter.com/{{twitter}}">@{{twitter}}</a></td>
			</tr>
			{{/users}}
		</tbody>
	</table>
</body>

</html>